body {
	background-image: url(http://thepatternlibrary.com/img/h.jpg); 
	background-repeat: repeat-y repeat-x;
	margin: 0;
	padding: 0;
}

/*div {
	border: 1px solid white;
}*/

.jumbotron {
	margin-top: 1px;
	background: #333;
	height: 325px;
}

.star-rating {
	padding-top: 0;
	text-align: center;
}

.stars {
	margin: 0 auto;
	padding-bottom: 20px;
}

.counter-reset {
	float: right;
	text-align: right;
	margin-right: 250px;
}

.timer {
	float: left;
	text-align: left;
	margin-left: 325px;
}

.stopwatch {
	color: #ffffff;
}

.move-counter {
	text-align: center;
	margin: 0 auto;
}

.moves {
	color: #ffffff;
	margin-right: 275px;
}

.header {
	font-family: Ubuntu, Helvetica, Sans Serif;
	color: #ffffff;
	margin-top: 20;
	margin-bottom: 20;
	padding-top: 10px;
	text-align: center;
}

.instructions {
	font-family: Ubuntu, Helvetica, Sans Serif;
	color: #ffffff;
	margin-top: 20;
	margin-bottom: 20;
	padding-bottom: 10px;
	text-align: center;
}

.background {
	-webkit-column-count: 4; 
    -moz-column-count: 4; 
    column-count: 4;
    -webkit-column-gap: 1px; 
    -moz-column-gap: 1px; 
    column-gap: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
  	flex-wrap: wrap;
  	background-image: url(http://thepatternlibrary.com/img/h.jpg); 
	background-repeat: repeat-y repeat-x;
	text-align: center;
}

.cards {
	width: 175px;
	margin: auto;
	padding: auto;
}

.cards:hover {
	opacity: 8;
	border: 2px solid #ffffff;
}

